@import '../../Global.css';

.wrapperPage {
  display: grid;
  justify-items: center;
  margin-block: 1rem;
}

.slider {
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  gap: 1rem;
  overflow: auto;
}
.slider::-webkit-scrollbar {
  display: none;
}
