@import '../../Global.css';

.wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 1rem;
  align-items: start;
  justify-self: center;
  width: 80%;
  height: max-content;
}
