*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(110, 60, 120);
  --secondary-color: rgb(60, 69, 120);
  --primary-hover: rgba(115, 60, 126, 0.6);
  --background-dark: rgb(44, 44, 44);
  --heal: rgb(80, 138, 78);
  --damage: rgb(138, 78, 78);
  --blur: rgba(255, 255, 255, 0.5);
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
  line-height: 1.5;
  cursor: default;
  color: white;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: inherit;
  width: max-content;
  font-size: 1.2rem;
  padding: 0.3rem;
  align-self: center;
}
a:hover {
  color: var(--primary-color);
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  pointer-events: none;
}

/* temporary h1 styling, need correct fonts */
h1 {
  font-weight: lighter;
}

.container {
  display: grid;
}

.container.root {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--background-dark);
}

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  height: 300px;
  aspect-ratio: 1;
  justify-self: center;
  outline: 3px solid var(--primary-color);
}

.avatar.preview {
  margin: 1rem;
}
