*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --light: rgb(114, 63, 124);
  --dark: rgb(48, 34, 51);
  --primary-color: rgb(110, 60, 120);
  --secondary-color: rgb(60, 69, 120);
  --primary-hover: rgb(128, 100, 133);
  --background-dark: rgb(44, 44, 44);
  --heal: rgb(80, 138, 78);
  --damage: rgb(138, 78, 78);
  --blur: rgba(255, 255, 255, 0.5);
  accent-color: var(--primary-color);
  caret-color: var(--primary-color);
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
  line-height: 1.5;
  cursor: default;
  color: black;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
  font-family: inherit;
  width: max-content;
  font-size: 1.2rem;
  padding: 0.3rem;
  align-self: center;
}
a:hover {
  color: var(--primary-color);
}

a:focus {
  outline-color: var(--primary-color);
}

li {
  list-style: none;
}

img {
  display: block;
  pointer-events: none;
}

/* temporary h1 styling, need correct fonts */
h1 {
  font-weight: lighter;
}

.wrapper.global {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1rem;
  align-items: start;
  justify-self: center;
  width: 90%;
  max-height: max-content;
}

/* Global Forms */

.form {
  display: grid;
  justify-items: center;
  align-items: start;
  gap: 1rem;
  margin-block: 1rem;
}

.wrapperInput {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.input {
  min-height: 20px;
  min-width: 300px;
  max-width: 60%;
  font-style: inherit;
  font-size: 1rem;
  place-self: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
}

.input:focus {
  outline-color: var(--primary-color);
}

.input.mismatch {
  border-color: red;
}

.label {
  font-size: 1.3rem;
}

/* Small Features */

.pointer {
  cursor: pointer;
}

/* Errors */

.errorLabel {
  position: absolute;
  bottom: -25%;
  left: 15%;
  right: 15%;
  text-align: center;
  color: red;
  font-weight: bold;
  background-color: white;
}
