@import '../../../Global.css';

.container.characters {
  grid-template-rows: auto 1fr;
  margin: 1rem;
}

.container.gallery {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 279px), 1fr));
  width: min(100% - 2rem, 85rem);
  margin-block: 1rem;
  margin-inline: auto;
  gap: 1rem;
}
