@import '../../../Global.css';

.btn {
  display: grid;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: max-content;
  min-width: 80px;
  width: max-content;
  padding: 0.5rem;

  font-family: inherit;
  font-size: 1rem;
  text-align: center;
}
.btn:hover {
  border-color: var(--primary-hover);
  background-color: var(--primary-hover);
  color: white;
}
