.wrapperSlider {
  position: relative;
  gap: 0.5rem;
}

.wrapperBtns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.slide {
  display: none;
}

.slideCurrent {
  display: grid;
  gap: 1rem;
}
