@import '../../../../../Global.css';

.icon {
  height: 25px;
  aspect-ratio: 1;
}

.characterSheet {
  position: relative;
  display: grid;
  margin-inline: auto;
}

.btns {
  z-index: 9;
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin: 1rem;
}

.characterHeader {
  display: grid;
  grid-template-columns: auto 1fr;
}

.wrapperCharacterDetails {
  position: relative;
  display: grid;
}

.wrapperSubDetails {
  display: grid;
  grid-template-columns: 1fr auto;
}

.characterDetails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.portrait {
  border: 1px solid black;
  border-radius: 4px;
  height: 120px;
  aspect-ratio: 1;
  object-fit: cover;
  margin: 1rem;
}

.characterName {
  height: min-content;
  align-self: center;
}

.healthPoints {
  justify-self: end;
  align-self: center;
  margin: 1rem;
}

.wrapperStats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.stat {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0.5rem;
  justify-items: center;
  align-items: center;
}

.statName {
  font-size: 1.2rem;
}

.statInfo {
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.5rem;
  min-width: 30px;
  text-align: center;
}

.wrapperAbilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem;
  justify-items: center;
}

.ability {
  display: grid;
  border: 1px solid black;
  border-radius: 4px;
  justify-items: center;
  width: 110px;
}
.abilityName {
  margin: 0.5rem;
  text-align: center;
}
.abilityMod {
  border: 1px solid black;
  border-radius: 4px;
  width: 70%;
  text-align: center;
}
.abilityScore {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 30px;
}

.wrapperSkills {
  display: grid;
  margin: 1rem;
  gap: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  width: 70%;
  justify-self: center;
}

.skill {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding-inline: 0.5rem;
}
.skillMod {
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  aspect-ratio: 1;
  min-width: 30px;
  text-align: center;
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px dotted #000;
  border-radius: 50%;
  position: relative;
}

.circle.proficient::after {
  position: absolute;
  content: '';
  width: 120%;
  height: 120%;
  background-color: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle.proficient.double::before {
  content: '';
  width: 160%;
  height: 160%;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: -50%;
  left: -50%;
}

.wrapperSenses {
  display: grid;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  width: 70%;
  justify-content: center;
  justify-self: center;
}

.sense {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;
}

.senseMod {
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  min-width: 30px;
  text-align: center;
}
