.backBtn {
  justify-self: center;
}

.wrapperPage {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  margin: 1rem;
}

.wrapperForm {
  display: grid;
  justify-items: center;
}

.sectionDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  min-width: 90%;
}

.wrapperDetails {
  display: grid;
  gap: 0.5rem;
  height: max-content;
}

.wrapperHp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1rem;
}

.choose {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  justify-items: center;
}
.chooseLevel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapperAbilities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
  width: 100%;
}

.ability {
  display: grid;
}

.input {
  min-height: 25px;
  min-width: 280px;
  max-width: 100%;
  font-style: inherit;
  font-size: 1rem;
  place-self: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
}

.input.number {
  text-align: center;
  min-width: 0;
  min-height: 0;
  width: 30px;
  height: 30px;
}
.input.proficient {
  min-width: 0;
  min-height: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.wrapperProficiency {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
  align-items: center;
}

.label {
  font-size: 1.2rem;
  text-align: center;
  align-self: center;
}

.wrapperDescription {
  margin: 1rem;
}
