@import '../../../../Global.css';

.input {
  cursor: pointer;
  font-style: inherit;
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 12px 20px;
  outline: none;
}

.input:focus {
  border-color: var(--primary-color);
}

.label {
  align-self: center;
  font-size: 1.3rem;
  height: auto;
}

.container.form {
  margin: 1rem;
  padding: 0.5rem;
  height: min-content;
  background-color: lightgrey;
  border-radius: 5px;
}
