.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 80px;
  justify-items: end;
  align-items: center;

  border-bottom: 1px solid black;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.title {
  cursor: pointer;
  margin-left: 2rem;
}

@media (max-width: 899px) {
  .wrapper {
    grid-template-columns: auto;
    justify-items: center;
  }
  .title {
    margin-left: 0;
  }
}
