.wrapper {
  display: grid;
  position: absolute;
  top: 30%;
  left: -187px;
  border: 1px solid black;
  border-radius: 4px;
  padding-inline: 1rem;
  background-color: white;
  z-index: 10;
}

.btnClose {
  position: absolute;
  top: 15%;
  left: 100%;
  z-index: 100;
}

.btnOpen {
  position: absolute;
  top: 15%;
  left: calc(100% + 1rem);
  z-index: 100;
}

.wrapper.opened {
  animation: slide-in 0.5s forwards;
}
.wrapper.closed {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(110%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
